{=
"emmet.excludeLanguages":["markdown","php"],=
"tabnine.experimentalAutoImports":true,=
"editor.multiCursorModifier":"ctrlCmd",=
"[scss]":{=
"editor.defaultFormatter":"esbenp.prettier-vscode"=
},=
"liveSassCompile.settings.forceBaseDirectory":"/public/scss",=
"liveSassCompile.settings.formats":[=
{=
"format":"compressed",=
"extensionName":".min.css",=
"savePath":"/public/css",=
"savePathReplacementPairs":null=
}=
],=
"[php]":{=
"editor.defaultFormatter":"Sophisticode.php-formatter"=
},=
"[blade]":{=
"editor.defaultFormatter":"shufo.vscode-blade-formatter"=
},=
"projectManager.vscode.baseFolders":["c://xampp/htdocs"],=
"[javascript]":{=
"editor.defaultFormatter":"vscode.typescript-language-features"=
},=
"[html]":{=
"editor.defaultFormatter":"esbenp.prettier-vscode"=
},=
"[yaml]":{=
"editor.defaultFormatter":"esbenp.prettier-vscode"=
},=
"php.executables":{=
"v8.1.12":"\\opt\\lampp\\bin\\php-8.1.12"=
},=
"phpAddProperty.constructor.docblock.enable":true,=
"phpAddProperty.constructor.docblock.stopToImport":true,=
"phpAddProperty.constructor.docblock.withParameter":true,=
"phpAddProperty.constructor.visibility.choose":true,=
"phpAddProperty.contextMenuOptions.enable":true,=
"phpAddProperty.property.docblock.add":true,=
"phpAddProperty.property.docblock.multiline":true,=
"phpAddProperty.property.docblock.stopToImport":true,=
"phpAddProperty.property.docblock.withParameter":true,=
"phpAddProperty.property.stopToImport":true,=
"phpAddProperty.property.visibility.choose":true,=
"phpAddProperty.property.visibility.default":"public",=
"phpAddProperty.showMessagesOnStatusBar":true,=
"phpAddProperty.property.types":true,=
"phpAddProperty.constructor.breakIntoMultilineIfLengthExceeded.enabled":true,=
"php.linkedEditing.variables":true,=
"phpTools.language":"en",=
"php.suggest.basic":false,=
"php.validate.enable":false,=
"phpdoc-generator.authorTag":"Wizarphics<wizarphics@gmail.com>",=
"phpdoc-generator.companySeeUrl":"https://wizarphics.com",=
"phpdoc-generator.constructorWithType":"returnDefinedTypeOrUndefinedType",=
"phpdoc-generator.copyrightCompanyName":"Wizarphics",=
"phpdoc-generator.displayCreationDate":true,=
"phpdoc-generator.numberOfLinesMethodSignature":200,=
"[json]":{=
"editor.defaultFormatter":"esbenp.prettier-vscode"=
},=
"[css]":{=
"editor.defaultFormatter":"esbenp.prettier-vscode"=
},=
"javascript.updateImportsOnFileMove.enabled":"always",=
"editor.stickyScroll.enabled":true,=
"window.menuBarVisibility":"compact",=
"intelephense.phpdoc.classTemplate":{=
"summary":"$1",=
"tags":[=
"@authorWizarphics<wizarphics@gmail.com>",=
"@package${1:$SYMBOL_NAMESPACE}"=
]=
},=
"workbench.editorAssociations":{=
"*.phar":"default"=
},=
"editor.tokenColorCustomizations":{=
"textMateRules":[]=
},=
"sync-env.envDestination":[".env.example"],=
"[dockerfile]":{=
"editor.defaultFormatter":"ms-azuretools.vscode-docker"=
},=
"[dockercompose]":{=
"editor.defaultFormatter":"ms-azuretools.vscode-docker"=
},=
"liveSassCompile.settings.showOutputWindowOn":"Error",=
"[sql]":{=
"editor.defaultFormatter":"cweijan.vscode-mysql-client2"=
},=
"[typescriptreact]":{=
"editor.defaultFormatter":"esbenp.prettier-vscode"=
},=
"[jsonc]":{=
"editor.defaultFormatter":"esbenp.prettier-vscode"=
},=
"thunder-client.saveToWorkspace":true,=
"[typescript]":{=
"editor.defaultFormatter":"esbenp.prettier-vscode"=
},=
"editor.minimap.enabled":false,=
"terminal.integrated.profiles.windows":{=
"PowerShell":{=
"source":"PowerShell",=
"icon":"terminal-powershell"=
},=
"CommandPrompt":{=
"path":[=
"${env:windir}\\Sysnative\\cmd.exe",=
"${env:windir}\\System32\\cmd.exe"=
],=
"args":[],=
"icon":"terminal-cmd"=
},=
"GitBash":{=
"source":"GitBash"=
},=
"Ubuntu(WSL)":{=
"path":"C:\\WINDOWS\\System32\\wsl.exe",=
"args":["-d","Ubuntu"]=
}=
},=
"terminal.integrated.allowChords":false,=
"terminal.integrated.cursorBlinking":true,=
"thunder-client.httpLibrary":"axios",=
"terminal.integrated.defaultProfile.windows":"PowerShell",=
"[python]":{=
},=
"editor.unicodeHighlight.nonBasicASCII":false,=
"editor.unicodeHighlight.invisibleCharacters":false,=
"phpdoc-generator.comparisonOfShortTypes":{=
"int":"integer",=
"bool":"boolean"=
},=
"workbench.colorTheme":"OneDarkProDarker",=
"typescript.inlayHints.enumMemberValues.enabled":true,=
"typescript.inlayHints.parameterNames.enabled":"all",=
"typescript.inlayHints.parameterTypes.enabled":true,=
"typescript.inlayHints.propertyDeclarationTypes.enabled":true,=
"thunder-client.saveTokenPerEnvironment":true,=
"markdown-preview-enhanced.codeBlockTheme":"atom-dark.css",=
"markdown-preview-enhanced.printBackground":true,=
"typescript.inlayHints.functionLikeReturnTypes.enabled":true,=
"workbench.preferredDarkColorTheme":"GitHubDarkDimmed",=
"workbench.preferredHighContrastLightColorTheme":"VisualStudioDark",=
"workbench.preferredLightColorTheme":"DefaultDark+",=
"workbench.iconTheme":"material-icon-theme",=
"material-icon-theme.activeIconPack":"none",=
"auto-close-tag.activationOnLanguage":[=
"*",=
"xml",=
"php",=
"blade",=
"ejs",=
"jinja",=
"javascript",=
"javascriptreact",=
"typescript",=
"typescriptreact",=
"plaintext",=
"markdown",=
"vue",=
"liquid",=
"erb",=
"lang-cfml",=
"cfml",=
"HTML(EEx)",=
"HTML(Eex)",=
"plist"=
],=
"auto-close-tag.SublimeText3Mode":true,=
"blade.format.enable":true,=
"bladeFormatter.format.sortHtmlAttributes":"code-guide",=
"bladeFormatter.format.useTabs":true,=
"codesnap.transparentBackground":true,=
"codesnap.showWindowTitle":true,=
"codesnap.containerPadding":"1em",=
"codesnap.boxShadow":"none",=
"editor.accessibilitySupport":"off",=
"php-cs-fixer.executablePath":"${extensionPath}/php-cs-fixer.phar",=
"php.docblock.classSnippet":{=
"@author":"${name:Wizarphics,email:Wizarphics@gmail.com}",=
"@copyright":"(c)$CURRENT_YEAR",=
"Time":"$CURRENT_TIME"=
},=
"php-cs-fixer.executable":"\\usr\\local\\bin\\php-cs-fixer",=
"phpCodeSniffer.autoExecutable":true,=
"prettier.enableDebugLogs":true,=
"namespaceResolver.sortAlphabetically":true,=
"php-docblocker.alignReturn":true,=
"php-docblocker.alignParams":true,=
"php-docblocker.qualifyClassNames":true,=
"php-files.templates.PHPClass":[=
"<?php",=
"/**Copyright(c)2022.*User:Fesdam*DateCreated:$file.created*LastModifiedat:$file.modified*Time:11:19*@authorWizarphics<Wizarphics@gmail.com>**/",=
"classPHPClass",=
"{",=
"}"=
],=
"[dotenv]":{=
"editor.defaultFormatter":"IronGeek.vscode-env"=
},=
"editor.unicodeHighlight.ambiguousCharacters":false,=
"gitlens.views.commits.showBranchComparison":false,=
"gitlens.gitCommands.skipConfirmations":[=
"fetch:command",=
"stash-push:command"=
]=
}=